{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form) }}
    <button type="submit">Submit !</button>
    {{ form_end(form) }}
{% endblock %}
